/* внешний шрифт */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background-color: whitesmoke;
}

.alert {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 8px;
  font-weight: bold;
}

.alert:empty {
  display: none;
}

.btn-submit {
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 8px;
    background-color:#8fd650;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
}

.btn-submit:hover {
    background-color:#71ab3e;
    transition: all 300ms ease;
}

.input-group { 
    position:relative; 
  }
  input         {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
  }
  input:focus     { outline:none; }
  
  .input-label {
    color:#999; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
  input:focus ~ .input-label, input:valid ~ .input-label    {
    top:-20px;
    font-size:14px;
    color:#5264AE;
  }
  
  .bar  { position:relative; display:block; width:300px; }
  .bar:before, .bar:after   {
    content:'';
    height:2px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background:#5264AE; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%; 
  }
  
  input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
  }
  
  .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  @-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to  { width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to  { width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:#5264AE; }
    to  { width:0; background:transparent; }
  }


/* Настройки для main.html */
#main {
    display: flex;
    position: absolute;
    margin-top: 60px;
    width: 90vw;
    flex-wrap: wrap;
    max-width: 800px;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
}

input[type="checkbox"] {
    display: none;
}

.pos-abs {
    position: absolute;
    top: -50px;
    margin: 8px;
    margin-top: 8px !important;
}
.pos-abs.personal {
    left: 102px;
}
.pos-abs.read {
    left: 208px;
}

.tag {
    /* внешние отступы */
    padding: 6px 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 9999px;
    margin-top: 12px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}


.tag::before {
    content: "#";
    margin-right: 2px;
    opacity: 0.3;
}

.work,
.note:has(.work) {
  /* рабочий */
    --tagColor: #fcdbcf;
}

.personal,
.note:has(.personal) {
  /* личный */
    --tagColor: #ccdcff;
}
.read,
.note:has(.read) {
  /* почитать */
    --tagColor: #f9cafc;
}

.work,
.personal,
.read {
    background-color: var(--tagColor);
}

.note {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    line-height: 1.5;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 300ms ease-in-out 0s;
}

.note:hover {
    border-color: var(--tagColor);
}


#work-box:checked ~ .note:has(.work),
#personal-box:checked ~ .note:has(.personal),
#read-box:checked ~ .note:has(.read) {
    width: 31%;
    height: 160px;
    padding: 3%;
    margin: 1%;
    opacity: 1;
    border-width: 1px;
}

#work-box:checked + label div,
#personal-box:checked + label div,
#read-box:checked + label div {
    background-color: var(--tagColor);
    color: unset;
}

#work-box + label div,
#personal-box + label div,
#read-box + label div {
    background-color: white;
    border: 1px solid var(--tagColor);
    color: var(--tagColor);
}

#work-box ~ .note:has(.work),
#personal-box ~ .note:has(.personal),
#read-box ~ .note:has(.read) {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    border-width: 0;
}

label {
    cursor: pointer;
}

label:hover {
    opacity: 0.8;
}

/* Настройки для login.html */
#login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
}

#login h1 {
    text-align: center;
    padding-bottom: 20px;
}

#login form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#remember_me {
    display: block;
    width: 15px;
    padding-right: 10px;
}

#login form p:has(#remember_me) {
    left: -50%;
    display: flex;
    gap: 10px;
    justify-items: left;
}

/* navbar */
ul { 
  margin: 0 auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
.nav-a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav-a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-a:hover:after { 
  width: 100%; 
  left: 0; 
}


nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.nav-auth {
  display: flex;
}

.material-symbols-outlined {
  color: #000;
  padding-top: 50%;
}