{% extends 'base.html' %}

{% block content %}
<div id="login">
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class='input-group'>
            {{ form.username(class='input-field', type='text') }}
            <span class="highlight"></span>
            <span class="bar"></span>
            {{ form.username.label(class='input-label') }}<br>
            {% for error in form.username.errors %}
                <div class="alert" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="input-group">
            {{ form.email(class='input-field', type='text') }}
            <span class="highlight"></span>
            <span class="bar"></span>
            {{ form.email.label(class='input-label') }} <br>
            {% for error in form.email.errors %}
                <div class="alert" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class='input-group'>
            {{ form.password1(class='input-field', type='password') }}
            <span class="highlight"></span>
            <span class="bar"></span>
            {{ form.password1.label(class='input-label') }}<br>
        </div>
        <div class='input-group'>
            {{ form.password2(class='input-field', type='password') }}
            <span class="highlight"></span>
            <span class="bar"></span>
            {{ form.password2.label(class='input-label') }}<br>
            {% for error in form.password1.errors %}
                <div class="alert" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <div class="alert">{{ message }}</div>
        {{ form.submit(class='btn-submit', type='submit') }}
    </form>
</div>
{% endblock %}